<div *ngIf="(menu$ | async) as menu">
    <div *ngFor="let burger of menu | paginate: { id: 'burgerMenu',
        itemsPerPage: pageSize,
        currentPage: currentPage }">
        <app-burger-info [burger]="burger"></app-burger-info>
    </div>
  
    <pagination-controls  id="burgerMenu"
      (pageChange)="pageChanged($event)"
      maxSize="7"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  