<div [formGroup]="orderFrom">
  <h3>Delivery type:</h3>
  <div>
    <label class="container">
      <span>Regular</span>
      <input type="radio" formControlName="deliveryType" value="Regular" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span>Fast</span>
      <input type="radio" formControlName="deliveryType" value="Fast">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span>Express</span>
      <input type="radio" formControlName="deliveryType" value="Express">
      <span class="checkmark"></span>
    </label>
  </div>
</div>