<section class="burger-details" *ngIf="(burger$ | async) as burger">
    <div class="burger-details-info">
        <div class="burger-header">
            <img [src]="burger.imageUrl" alt="burger-image">
            <div class="statistic">
                <p><span>Likes:</span> {{burger.likes.length}}</p>
                <p><span>Comments:</span> {{burger.comments.length}}</p>
            </div>
            <p><span>Creation date:</span> {{ burger.creationDate | date:"dd/MM/yy, hh:mm" }}</p>
            <div *ngIf="userId">
                <a routerLink="/order/create/{{burger._id}}" class="order-burger">Order</a>
                <i *ngIf="burger.likes.indexOf(userId) === -1; else dislike" (click)="likeBurger(burger._id)" class="far fa-heart"></i>
                <ng-template #dislike><i (click)="dislikeBurger(burger._id)" class="fas fa-heart"></i></ng-template>
            </div>
        </div>
        <div class="products">
            <h2>{{burger.name}}</h2>
            <h3>Products:</h3>
            <div class="details-products" *ngFor="let product of burger.products">
                <p> - {{product}}</p>
            </div>
            <p><span>Description:</span> {{burger.description}}</p>
            <p><span>Weight:</span> {{burger.weight}}</p>
            <p><span>Kcal:</span> {{burger.calories}}gr</p>
            <p><span>Price:</span> {{burger.price}}$</p>
        </div>
    </div>
    <app-comment-create *ngIf="isAuth && !isBlocked; else login"></app-comment-create>
    <ng-template #login>
        <h3 *ngIf="!isBlocked" class="authType"><a routerLink="/auth/login">Login to post a comments.</a></h3>
        <h3 *ngIf="isBlocked" class="authType">You are blocked.</h3>
    </ng-template>
    <app-comment-list></app-comment-list>
</section>