<header>
  <nav class="navbar navbar-dark bg-secondary">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <a class="nav-link" routerLink="/burger/home">Home</a>
                  <a class="nav-link" routerLink="/burger/menu">Menu</a>
                  <a *ngIf="authService.isAuthenticated()" class="nav-link" routerLink="/topping/list">Toppings</a>
                  <a *ngIf="authService.isAdmin()" class="nav-link" routerLink="/burger/create">Create Burger</a>
                  <a *ngIf="authService.isAdmin()" class="nav-link" routerLink="/topping/create">Create Topping</a>
                  <a *ngIf="authService.isAdmin()" class="nav-link" routerLink="/order/all">Orders</a>
                  <a *ngIf="authService.isAuthenticated()" class="nav-link" routerLink="/order/my">My Orders</a>
                  <a *ngIf="authService.isAdmin()" class="nav-link" routerLink="/user/all">Users</a>
                  <a *ngIf="authService.isAuthenticated()" class="nav-link" routerLink="/user/profile/my">Profile</a>
                  <a *ngIf="authService.isAuthenticated()" class="nav-link" (click)="logout()" href="javascript:void(0)">Logout</a>
                  <a *ngIf="!authService.isAuthenticated()" class="nav-link" routerLink="/auth/login">Login</a>
                  <a *ngIf="!authService.isAuthenticated()" class="nav-link" routerLink="/auth/register">Register</a>
              </div>
          </div>
      </div>
  </nav>
</header>