<section class="my-profile" *ngIf="(user$ | async) as user">
  <div class="profile-details">
      <div>
        <img [src]="user.imageUrl" alt="user-image">
      </div>
      <div>
        <p><span>Username:</span> {{user.username}}</p>
        <p><span>Email:</span> {{user.email}}</p>
        <p><span>Age:</span> {{user.age}}</p>
      </div>
      <div>
        <p><span>Last Name:</span> {{user.lastName}}</p>
        <p><span>First Name:</span> {{user.firstName}}</p>
        <p><span>Orders count:</span> {{user.orders.length}}</p>
        <p><span>Comments count:</span> {{user.comments.length}}</p>
      </div>
  </div>
  <div class="profile-comments">
    <div class="profile-title">
        <h2 *ngIf="user.comments.length > 0; else emptyComments">Comment:</h2>
        <ng-template #emptyComments><h2>0 comments</h2></ng-template>
        <hr>
    </div>
    <app-user-comments *ngFor="let comment of user.comments" [comment]="comment"></app-user-comments>
  </div>
</section>