<div *ngIf="(topBurgers$ | async) as topBurgers">
  <div class="home-header">
    <h2>Are you hungry?</h2>
    <p>Just order delicious burger.</p>
  </div>
  <div class="home-body">
    <app-burger-list [burgers]="topBurgers.theNewest" name="The Newest Burgers">
    </app-burger-list>
    <app-burger-list [burgers]="topBurgers.theMostLiked" name="The Most Liked Burgers">
    </app-burger-list>
    <app-burger-list [burgers]="topBurgers.theMostCommented" name="The Most Commented Burgers">
    </app-burger-list>
  </div>
</div>
  