.all-orders {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/images/burger-order.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 2rem;
}

h2 {
    margin: 0;
    padding-top: 3rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

hr {
    width: 27%;
    margin-bottom: 1.5rem;
    display: block;
    border: none;
    background: white;
    height: 2px;
}