<section class="register">
    <div class="register-header">
        <h2>Register</h2>
    </div>
    <form [formGroup]="form" (submit)="register()">
        <div>
            <label>
                <span>Email:</span>
                <input type="text" formControlName="email" name="email">
            </label>
            <div *ngIf="f['email'].dirty && f['email'].invalid" class="error-message">Invalid email.</div>
        </div>
        <div>
            <label>
                <span>Username:</span>
                <input type="text" formControlName="username" name="username">
            </label>
            <div *ngIf="f['username'].dirty && f['username'].invalid" class="error-message">Username should be more than 3 symbols.</div>
        </div>
        <div>
            <label>
                <span>First name:</span>
                <input type="text" formControlName="firstName" name="firstName">
            </label>
            <div *ngIf="f['firstName'].dirty && f['firstName'].invalid" class="error-message">First name should be more than 3 symbols.</div>
        </div>
        <div>
            <label>
                <span>Last name:</span>
                <input type="text" formControlName="lastName" name="lastName">
            </label>
            <div *ngIf="f['lastName'].dirty && f['lastName'].invalid" class="error-message">Last name should be more than 3 symbols.</div>
        </div>
        <div>
            <label>
                <span>Age:</span>
                <input type="number" formControlName="age" name="age">
            </label>
            <div *ngIf="f['age'].dirty && f['age'].invalid" class="error-message">Age must be positive number.</div>
        </div>
        <div>
            <label>
                <span>Password:</span>
                <input type="password" formControlName="password" name="password">
            </label>
            <div *ngIf="f['password'].dirty && f['password'].invalid" class="error-message">Password should be more than 3 symbols.</div>
        </div>
        <div>
            <label>
                <span>Repeat password:</span>
                <input type="password" formControlName="repeatPass" name="repeatPass">
            </label>
            <div *ngIf="f['repeatPass'].dirty && f['repeatPass'].invalid" class="error-message">Repeat password should be more than 3 symbols.</div>
            <div *ngIf="f['password'].dirty && f['repeatPass'].dirty && f['password'].value !== f['repeatPass'].value">Passwords should match.</div>
        </div>
        <div>
            <label>
                <span>Image:</span>
                <input type="string" formControlName="imageUrl" name="imageUrl">
            </label>
            <div *ngIf="f['imageUrl'].dirty && f['imageUrl'].invalid" class="error-message">Image must start with http or https.</div>
        </div>
        <input type="submit" [disabled]="form.invalid || f['password'].value !== f['repeatPass'].value" value="Register" />
    </form>
</section>