h3 {
    text-align: center;
    background: #F7CAAC;
    padding: 0.5rem;
    font-weight: 400;
    border-radius: 10px;
    letter-spacing: 3px;
    border: 2px solid #dfb396;
    margin-bottom: 1rem;
}


ul {
    list-style: none;
    padding-left: 2rem;

    li {
        padding: 0.2rem 0;
        cursor: pointer;
    }
}