<div class="order-details" *ngIf="(order$ | async) as order">
  <div class="order-container">
    <div class="order-details-header">
      <div>
        <h2>{{order.burger.name}}</h2>
        <img [src]="order.burger.imageUrl" alt="burger-image">
      </div>
      <div>
        <p><span>Delivery type:</span> {{order.deliveryType}}</p>
        <p><span>Quantity:</span> {{order.quantity}}</p>
        <p><span>Total price:</span> {{order.totalPrice | numberRound: 2}}$</p>
      </div>
    </div>
    <app-order-info [order]="order"></app-order-info>
  </div>
</div>