<div class="topping-create">
  <div class="topping-create-container">
      <h3>Create topping</h3>
      <form [formGroup]="form" (submit)="createTopping()">
        <div>
          <input type="text" formControlName="name" name="name" placeholder="Name">
          <div *ngIf="f['name'].dirty && f['name'].invalid" class="error-message">Name is required.</div>
        </div>
        <div>
          <input type="text" formControlName="origin" name="origin" placeholder="Origin">
          <div *ngIf="f['origin'].dirty && f['origin'].invalid" class="error-message">Origin is required.</div>
        </div>
        <div>
          <input type="number" formControlName="price" name="price" placeholder="Price">
          <div *ngIf="f['price'].dirty && f['price'].invalid" class="error-message">Price should be positive number.</div>
        </div>
        <div>
          <input type="number" formControlName="weight" name="weight" placeholder="Weight">
          <div *ngIf="f['weight'].dirty && f['weight'].invalid" class="error-message">Weight should be positive number.</div>
        </div>
        <div class="image-block">
          <input type="text" formControlName="imageUrl" name="imageUrl" placeholder="Image">
          <div *ngIf="f['imageUrl'].dirty && f['imageUrl'].invalid" class="error-message">Image must start with http or https.</div>
          <img *ngIf="f['imageUrl'].dirty && f['imageUrl'].valid" [src]="f['imageUrl'].value" alt="image-burger">
        </div>
        <input type="submit" [disabled]="form.invalid" value="Create">
      </form>
  </div>
</div>