<section class="create-topping">
  <h3>Create topping</h3>
  <form [formGroup]="form" (submit)="createTopping()">
    <div>
      <span>Name</span>
      <input type="text" formControlName="name" name="name">
      <div *ngIf="f['name'].dirty && f['name'].invalid">Name is required.</div>
    </div>
    <div>
      <span>Origin</span>
      <input type="text" formControlName="origin" name="origin">
      <div *ngIf="f['origin'].dirty && f['origin'].invalid">Origin is required.</div>
    </div>
    <div>
      <span>Price</span>
      <input type="number" formControlName="price" name="price">
      <div *ngIf="f['price'].dirty && f['price'].invalid">Price should be positive number.</div>
    </div>
    <div>
      <span>Weight</span>
      <input type="number" formControlName="weight" name="weight">
      <div *ngIf="f['weight'].dirty && f['weight'].invalid">Weight should be positive number.</div>
    </div>
    <div>
      <span>Image</span>
      <input type="text" formControlName="imageUrl" name="imageUrl">
      <div *ngIf="f['imageUrl'].dirty && f['imageUrl'].invalid">Image must start with http or https.</div>
      <img *ngIf="f['imageUrl'].dirty && f['imageUrl'].valid" [src]="f['imageUrl'].value" alt="image-burger">
    </div>
    <input type="submit" [disabled]="form.invalid" value="Create">
  </form>
</section>