<div class="comment-create">
  <div class="comment-title">
    <h2>Create comment:</h2><hr>
  </div>
  <div class="comment-form">
    <form [formGroup]="form" (submit)="createComment()">
      <div class="message">
        <textarea type="text" cols="40" rows="5" formControlName="message" placeholder="Message"></textarea>
        <div class="error-message" *ngIf="f['message'].dirty" [class.error]="f['message'].invalid">Message length {{f['message'].value.length}}/40.</div>
      </div>
      <div class="rating">
        <span>Rating:</span>
        <select formControlName="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit" [disabled]="form.invalid" value="Create">
      </div>
    </form>
  </div>
</div>