<div>
  <h3>Create burger</h3>
  <form [formGroup]="form" (submit)="createBurger()">
    <div>
      <span>Name</span>
      <input type="text" formControlName="name" name="name">
      <div *ngIf="f['name'].dirty && f['name'].invalid">Name is required.</div>
    </div>
    <div>
      <span>Price</span>
      <input type="number" formControlName="price" name="price">
      <div *ngIf="f['price'].dirty && f['price'].invalid">Price should be a positive number.</div>
    </div>
    <div>
      <span>Description</span>
      <textarea type="text" rows="5" cols="10" formControlName="description" name="description"></textarea>
      <div *ngIf="f['description'].dirty && f['description'].invalid">Description length is between 5 and 70 symbols.</div>
    </div>
    <div>
      <span>Weight</span>
      <input type="number" formControlName="weight" name="weight">
      <div *ngIf="f['weight'].dirty && f['weight'].invalid">Weight should be a positive number.</div>
    </div>
    <div>
      <span>Calories</span>
      <input type="number" formControlName="calories" name="calories">
      <div *ngIf="f['calories'].dirty && f['calories'].invalid">Calories should be a positive number.</div>
    </div>
    <div>
      <span>Image</span>
      <input type="text" formControlName="imageUrl" name="imageUrl">
      <div *ngIf="f['imageUrl'].dirty && f['imageUrl'].invalid">Image must start with http or https.</div>
      <img *ngIf="f['imageUrl'].dirty && f['imageUrl'].valid" [src]="f['imageUrl'].value" alt="image-burger">
    </div>
    <div>
      <span>Products:</span>
      <ul>
        <li *ngFor="let product of f['products'].value">{{product}}</li>
      </ul>
      <input type="text" name="newProduct" #newProduct>
      <input type="button" value="Add" (click)="addProduct()">
    </div>
    <input type="submit" [disabled]="form.invalid" value="Create">
  </form>
</div>