<div class="order-edit">
  <div class="order-container">
    <div class="burger-info"> 
      <h3>{{order.burger.name}}</h3>
      <img [src]="order.burger.imageUrl" alt="order-image">
      <div class="products">
        <div>
          <h4>Products:</h4>
          <p *ngFor="let product of order.products"> - {{product}}</p>
        </div>
        <div>
          <h4>Toppings:</h4>
          <p *ngFor="let topping of order.toppings"> - {{topping.name}}</p>
        </div>
      </div>
    </div>
    <div class="edit-info">
      <p><span>Delivery Type:</span> {{order.deliveryType}}</p>
      <p><span>Quantity:</span> {{order.quantity}}</p>
      <p><span>Total Price:</span> {{order.totalPrice}}</p>
      <label class="container">
        <span>Pending</span>
        <input type="radio" name="status" value="Pending" (click)="changeStatus('Pending')" [checked]="order.status === 'Pending'">
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <span>In Progress</span>
        <input type="radio" name="status" value="In Progress" (click)="changeStatus('In Progress')" [checked]="order.status === 'In Progress'">
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <span>In Transit</span>
        <input type="radio" name="status" value="In Transit" (click)="changeStatus('In Transit')" [checked]="order.status === 'In Transit'">
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <span>Delivered</span>
        <input type="radio" name="status" value="Delivered" (click)="changeStatus('Delivered')" [checked]="order.status === 'Delivered'">
        <span class="checkmark"></span>
      </label>
      <button (click)="editOrder()">Edit</button>
    </div>
  </div>
</div>