<div class="order-edit">
  <div class="order-container">
    <div class="burger-info"> 
      <h3>{{order.burger.name}}</h3>
      <img [src]="order.burger.imageUrl" alt="order-image">
      <div class="products">
        <div>
          <h4>Products:</h4>
          <p *ngFor="let product of order.products"> - {{product}}</p>
        </div>
        <div>
          <h4>Toppings:</h4>
          <p *ngFor="let topping of order.toppings"> - {{topping.name}}</p>
        </div>
      </div>
    </div>
    <div class="edit-info">
      <p><span>Delivery Type:</span> {{order.deliveryType}}</p>
      <p><span>Quantity:</span> {{order.quantity}}</p>
      <p><span>Total Price:</span> {{order.totalPrice}}</p>
      <app-order-status [status]="order.status" (statusChanged)="changeStatus($event)"></app-order-status>
      <button (click)="editOrder()">Edit</button>
    </div>
  </div>
</div>